<!DOCTYPE html>
<html>
<head>
    <title>tux.io stats</title>
    <meta charset="utf-8">
</head>

<body>
    <pre>stats: <%= stats %></pre>
    <pre>conn_stats: <%= conn_stats %></pre>
    <pre>port_for_sid: <%= port_for_sid %></pre>
    <pre>conns_for_sid: <%= conns_for_sid %></pre>
    <pre>pregenerated_sids: <%= pregenerated_sids %></pre>
    <pre>ipv4_for_sid: <%= ipv4_for_sid %></pre>
    <pre>deathlist: <%= deathlist %></pre>
    <pre>stopped_callbacks_for_sid: <%= stopped_callback_for_sid %></pre>
</body>
</html>
